.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
node_modules/
.env
.env.local
.northflank-env.json
npm-debug.log*
.idea/

android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release

ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/

.DS_Store
